* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* Common */

.col {
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

.col__6 {
    width: 50%;
}

.col__full {
    width: 100%;
}

.col__four {
    width: 25%;
}

.col__third {
    width: 33.3333%;
}

.col__nine {
    width: 66.6667%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}


/* --------------------------Header------------------------- */

#header {
    background-image: url("../images/parallax.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.75; */
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

#header .header__nav {
    height: 43px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

#header .header__nav--left {
    display: inline-block;
}

#header .header__nav__wrapper {
    display: inline-block;
}

#header .header__nav--left li {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 43px;
}

#header .header__nav--left li:hover a {
    background-color: #ccc;
    color: #000;
}

#header .header__nav--left i[class*="ti-"] {
    display: inline-block;
    width: 18px;
}

#header .header__nav--left a {
    text-decoration: none;
    color: #777777;
    display: inline-block;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
}

#header .header__nav__wrapper li:last-child {
    display: none;
}


/* Begin: Logo__Menu_Search */

#header .header__nav--menu {
    float: right;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .header__nav--search {
    float: right;
    display: block;
}

#header .header__nav--search:hover a {
    background-color: #f44336;
    color: #fff;
}

#header .header__nav--menu a,
#header .header__nav--search a {
    display: inline-block;
    line-height: 43px;
    padding: 0px 16px;
    text-decoration: none;
    color: #777777;
}

#header .header__nav--menu .ti-menu,
#header .header__nav--search .ti-search {
    font-weight: 700;
    font-size: 15px;
}


/* End: Logo__Menu_Search */

#header .logo__website {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: #000;
    padding: 12px 24px;
    /* z-index: -1; */
}

#header .logo__website--content {
    font-size: 24px;
    letter-spacing: 10px;
    color: #fff;
    display: block;
}

#header .logo__website--mobile {
    font-size: 24px;
    letter-spacing: 10px;
    color: #fff;
    display: none;
}


/* check scroll */

#header .sticky {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    animation-name: showHeader;
    animation-timing-function: ease;
    animation-duration: 0.5s;
}

@keyframes showHeader {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

#header .header__nav .sticky__element {
    color: #000;
}


/*----------------------------Content------------------------*/


/* About me */

#content {
    font-size: 15px;
    color: #777777;
}

#content .content__wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 64px 16px;
    max-width: 100%;
}


/* Begin: Content heading common */

#content .content__heading {
    text-align: center;
}

#content .content__heading h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0;
}

#content .content__heading p {
    font-style: italic;
    margin: 15px 0px;
}


/* End: Content heading common */

#content .content__about-me article {
    margin: 15px 0px;
    line-height: 1.6;
    text-align: justify;
}

#content .about__me--right,
#content .about__me--left {
    padding: 12px 24px;
}

.about__me--left:first-child .about__me--image {
    padding-top: 15px;
    padding-bottom: 15px;
}

#content .about__me--left img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    opacity: 0.6;
}

#content .about__me--left img:hover {
    opacity: 1;
}

.about__me--left:first-child .about__me--name {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 27px;
    text-align: center;
}

.about__me--left span {
    font-weight: 700;
    line-height: 27px;
}

.about__me--left i {
    font-weight: 700;
    margin-right: 12px;
}

#content .about__me--right p {
    margin: 15px 0px;
    line-height: 1.6;
    text-align: justify;
}

.about__me--description-title {
    margin: 34px 0px;
    text-align: center;
    font-size: 18px;
}


/* Description Job */

#content .about__me__description-job p {
    height: 27px;
    letter-spacing: 10px;
    margin: 15px 0px;
    line-height: 27px;
}

#content .about__me__wrapper {
    height: 35px;
    background-color: #f1f1f1;
}

#content .about__me__skill {
    width: var(--percent);
    background-color: #616161;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 35px;
}


/* Accomplishment */

#content .content__accomplishment {
    background-color: #616161;
    height: 134px;
    padding: 16px 0px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

#content .content__accomplishment--detail span {
    display: block;
    margin: 12px 0px;
}

.content__accomplishment--detail span:nth-child(1) {
    font-size: 24px;
}


/* Slider fortfolio */

#content .slider__fortfolio {
    background-image: url(../images/parallax2.jpg);
}

#content .content__slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-attachment: fixed;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .content__slider p {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 10px;
}


/* Content slider */

#content .content__job p:last-child {
    margin-top: -5px;
}

#content .content__job--row img {
    width: 100%;
    padding: 8px 0px;
}

#content .content__job--row {
    padding-left: 8px;
    padding-right: 8px;
}

#content .content__job--list {
    padding-top: 36px;
    padding-bottom: 64px;
}

#content .content__job--btn {
    color: #000;
    background-color: #f1f1f1;
    border-color: transparent;
    padding: 12px 24px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 0 auto;
    border: none;
    position: relative;
    left: 50%;
    height: 48px;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

#content .content__job--btn:hover {
    background-color: #ccc;
    cursor: pointer;
}


/* Contact slider */

#content .contact__slider {
    background-image: url("../images/parallax3.jpg");
}

#content .content__contact--map {
    width: 100%;
}

#content .content__contact__body {
    padding: 48px 0px;
}

#content .contact__body_col {
    padding: 0 16px;
}

#content .body__col__right--title,
#content .content__contact__body div[class*="col__nine"] {
    margin-top: 16px;
    margin-bottom: 16px;
}

#content .body__col__right--infor {
    margin-bottom: 16px;
    font-size: 18px;
}

#content .body__col__right--infor i[class*="ti-"] {
    font-size: 24px;
    margin-right: 16px;
}

#content .body__col__right--infor div {
    padding: 8px 0px;
}

#content .form__name-email {
    margin-bottom: 8px;
}

#content .form__control {
    width: 100%;
    padding: 8px;
    height: 45px;
    border: 1px solid #ccc;
    font-size: 15px;
}

#content .form__name_email {
    padding-bottom: 8px;
}

#content .body__col__right--form {
    margin-left: -8px;
    margin-right: -8px;
}

#content .content__contact__btn {
    margin: 16px 0px;
    padding: 8px 16px;
    height: 43px;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    float: right;
    font-size: 15px;
}

#content .content__contact__btn:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}


/* Footer */

footer {
    padding: 64px 0px;
    text-align: center;
    background-color: #000;
    opacity: 0.6;
}

footer:hover {
    opacity: 1;
}

footer .footer__btn {
    height: 43px;
    padding: 8px 15px;
    font-size: 15px;
    background-color: #fff;
    border: none;
}

footer .footer__btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

footer .footer__btn i[class*="ti-"] {
    margin-right: 16px;
    color: #000;
    font-weight: bold;
}

footer .footer__icon {
    margin: 16px 0px;
    height: 43px;
    line-height: 43px;
}

footer .footer__icon i[class*="ti-"]:hover {
    opacity: 0.6;
    cursor: pointer;
}

footer .footer__icon i[class*="ti-"] {
    font-size: 26px;
}

footer .footer__icon a {
    text-decoration: none;
    color: #fff;
}

footer .footer__body--copyright {
    margin: 15px 0px;
    color: #fff;
    font-size: 15px;
}

footer .footer__body--copyright a {
    color: inherit;
}

footer .footer__body--copyright a:hover {
    color: #4CAF50;
}

footer .footer__btn a {
    text-decoration: none;
    color: initial;
}