/*  On PC */

@media (min-width: 64em) {}


/* On Tablet */

@media (min-width: 46.25em) and (max-width:63.9375em) {}


/* On Mobile */

@media (max-width: 46.1875em) {
    /* header */
    #nav li,
    #nav li a,
    #header #nav {
        display: block;
    }
    #header #nav>li:first-child {
        display: inline-block;
    }
    #header .header__search {
        display: none;
    }
    #header .header__menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #header {
        overflow: hidden;
    }
    #nav #subnav {
        position: initial;
        background-color: #555;
        padding-left: 20px;
    }
    #nav #subnav li a {
        color: #fff;
    }
    /* Slider */
    #slider .slider__information {
        display: none;
    }
    /* Contact-member*/
    #content .thumbnail__member {
        width: 100%;
    }
    #content .thumbnail__member--image {
        width: 300px;
    }
    /* Ticket */
    #content .ticket__detail {
        float: none;
        width: 100%;
        padding-bottom: 16px;
    }
    #content .place__btn {
        display: block;
        text-align: center;
    }
    /* Contact */
    .mb-col-full {
        width: 100%;
    }
    .mb-mt-8 {
        margin-top: 8px;
    }
    #content .contact__btn {
        width: 100%;
        text-align: center;
    }
    /* footer */
    footer .footer__icon {
        font-size: 36px;
    }
}